<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Backbone test</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <button class="btn"> Button </button>
    <button class="btn-more">More Button</button>
    <ol class="ad-list"></ol>

    <script type="text/template" id="ad_template">
        <strong><%= make %> </strong> (<%= model %>) - <%= price %>
    </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>

<script src="index.js"></script>
</body>
</html>